@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ginto";
    font-weight: 600;
    src: url("../../public/fonts/ginto.woff") format("woff");
  }
  @font-face {
    font-family: "whitney";
    font-weight: 500;
    src: url("../../public/fonts/whitney-book.woff") format("woff");
  }
  @font-face {
    font-family: "whitney";
    font-weight: 400;
    src: url("../../public/fonts/whitney-light.woff") format("woff");
  }
  @font-face {
    font-family: "whitney";
    font-weight: 600;
    src: url("../../public/fonts/whitney-medium.woff") format("woff");
  }
}

body {
  @apply font-display;
}

a, button, ul, ol {
  @apply select-none;
}

.scroll-bar-0::-webkit-scrollbar {
  width: 0 !important;
}

.main-content {
  height: calc(100vh - 48px);
}
